#banner {
	background-color: #660066;
	margin: 0;
	padding: 5px;
	border-radius: 0 0 5px 5px;
}

#bannertext {
	text-align: center;
	font-family: verdana;
	color: white;
	margin: 2%
}


.myPanelBlocks {
	box-shadow: 0 0 2px #555;
	margin: 5%;
	display: flex;
	justify-content: center;
}


.myPanel {
	border: 1px solid #660033;
	border-radius: 5px;
	box-shadow: 0 0 4px #777;
	/*padding: 5px;*/
	margin: 5%;
	display: inline-block;
}

.panelHeading {
	border-radius: 0 0 5px 5px;	
	font-family: Arial;
	font-weight: 400;
	font-size: large;
	background-color: #b30059;
	color: white;
	margin: 0;
	padding: 5px;
}

.panelBody {
	padding: 5px;
}